@font-face {
  font-family: 'Decima';
  src: url('../fonts/decima/decima_regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Decima';
  src: url('../fonts/decima/decima_bold.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: "OfficinaSansBook";
    src: url("../fonts/OfficinaSansBook/OfficinaSansBook.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@charset "utf-8";
    .ia1, .ia2, .ia3, .ic, .ic1, .ic2, .ic3, .ic4, .ih1, .ih2, .ih3, .ih4, .il1, .il2, .im, .im1, .im2, .im3, .im4, .im5, .ip1, .ip2, .ipb, .ipl, .ipn, .ipp, .ipt, .ipz, .iq1, .iq2, .iq3, .iq4, .iq5, .ir1, .ir2, .ir3, .is, .is1, .is2, .isa, .isb, .isl, .isr, .it, .iv1, .iv2, .iv3, .iv4, .iv5, .slider, .slider .slides, .slider .slides .slide {
    position: relative;
}


html {height: 100%; padding: 0;margin: 0;}
body {
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Lora', sans-serif;
}
.button span, .button: before, .hidden {
    pointer-events: none;

}
textarea {
    resize: none;
}
a {
    color: #ffffff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
a:hover {
    color: #ffa013;
}
p, div, input[type=text]  {
    color: #ffffff;
}
p, label {
    margin: 7px 0;
}
ul {
    margin: 0;
    padding: 0;
}
b {
    font-weight: 700;
}

.main .subtitle .dark {
	font-size: 25px;
}
h1 {
    font-size: 24px;
}
.h1, .h2 {
    display: block;
}
.h1 span, .h2 span {
    padding-bottom: 15px;
    display: block;
    color: #513f3b;
}
.h1 {
    font-size: 26px;
    margin-bottom: 20px;
}
.title.on-top span {
	font-size: 28px;
}
.main_title {
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
	font-size: 42px;
	color: #fff;
}
.subtitle {
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, .66);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .86);
    color: #fff;
    font-size: 32px;
}
.h1.on-top.p0>span {
    padding-bottom: 0;
}
.h1.on-bottom>span {
    margin-left: 38px;
    margin-bottom: -2px;
    padding-bottom: 0;
}
.h1.on-bottom+.h2:before {
    bottom: 0;
}
.h1.on-bottom+.h2>span {
    margin-left: 38px;
    padding-bottom: 30px;
}
.h2 {
    font-size: 26px;
    font-weight: 300;
}
.h2 .bold {
    display: inline;
}
.button, .center>span {
    display: inline-block;
}
.h3 {
    font-size: 24px;
    font-weight: 400;
}
.center {
    text-align: center;
}
.center>span {
    text-align: left;
}
.strong {
    font-weight: 900;
    text-transform: uppercase;
}
.bold {
    font-weight: 700;
}

.button, .menu .main .left .slogan {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .33);
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, .33);
}
.button {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .33);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .33);
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
    margin-top: 10px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 19px;
    line-height: 44px;
    /* font-weight: 800; */
    white-space: nowrap;
    color: #fff;
    background: #ffa013;
    border: none!important;
    outline: 0!important;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
}
.button.small {
    font-size: 1em;
    padding: 0 15px;
    line-height: 38px;
}
.button_buy {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .33);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .33);
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
    line-height: 34px;
    color: #fff;
    background: #ffa013;
    border: none!important;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 25px;
    display: block;
}
.button_buy:before {
    content: "\f1ec";
    font-family: "FontAwesome";
    font-size: 0.85em;
    padding-right: 7px;
}

.button:hover, .button_buy:hover {
    background-color: #ffb850;
    color: #fff;
}
.button.red {
    background-color: #f8315b;
    -webkit-animation: 2.5s ease-in-out 0s normal none infinite running trambling-animation;
    -moz-animation: 2.5s ease-in-out 0s normal none infinite running trambling-animation;
    -o-animation: 2.5s ease-in-out 0s normal none infinite running trambling-animation;
    animation: 2.5s ease-in-out 0s normal none infinite running trambling-animation;
}
.button.red:hover {
    background-color: #ee0839;
}
@keyframes trambling-animation {
    0%, 100%, 20% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
}
12%, 4% {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
16%, 8% {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
}
}.slider .slides .strip {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
}
.slider .slides .slide {
    width: 100%;
    height: 100%
}
.slider .slides .slide~.slide {
    margin-left: -100%}
.slider .slides .slide:not(.visible) .slide {
    -webkit-transition: visibility 0s linear .25s, opacity .25s linear;
    -moz-transition: visibility 0s linear .25s, opacity .25s linear;
    transition: visibility 0s linear .25s, opacity .25s linear;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}
.slider .arrow, .slider .control {
    user-select: none;
}
.w360 {
    max-width: 360px;
}
.w640 {
    max-width: 640px;
}
.w720 {
    max-width: 720px;
}
.space20 {
    height: 20px;
}
.space30 {
    height: 30px;
}
.space50 {
    height: 50px;
}
.space60 {
    height: 60px;
}
.space75 {
    height: 75px;
}
.space88 {
    height: 88px;
}
.space100 {
    height: 100px;
}
.space120 {
    height: 120px;
}
.space160 {
    height: 160px;
}
.space210 {
    height: 210px;
}
.space250 {
    height: 250px;
}
.space300 {
    height: 300px;
}
.space350 {
    height: 350px;
}
.caption {
    font-size: 20px;
    margin-bottom: 10px;
}
.list_disc li {
    line-height: 1.6;
    position: relative;
    padding-left: 16px;
}
.list_disc li:before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background-color: #4F758B;
    position: absolute;
    display: block;
    left: 0;
    top: 0.55em;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.hidden {
    -webkit-transition: visibility 0s linear .25s, opacity .25s linear;
    -moz-transition: visibility 0s linear .25s, opacity .25s linear;
    transition: visibility 0s linear .25s, opacity .25s linear;
    visibility: hidden;
    opacity: 0;
}
.visible {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    pointer-events: all;
    visibility: visible;
    opacity: 1;
}
.bg1 {
    background-image: url(/front/img/main/main_page.jpg);
}
.bg1:before {
    content: "";
    position:absolute;
    width: 100%;
    height: inherit;
    background: rgba(0,0,0,0.4);
}

.ih1:before, .ih2:before, .ih3:before, .ih4:before {
    position: absolute;
}
.im3:before {
    width: 41px;
    height: 41px;
    background-position: -380px -20px;
}
.im4:before {
    width: 62px;
    height: 40px;
    background-position: -431px -18px;
}
.im5:before {
    width: 28px;
    height: 48px;
    background-position: -503px -10px;
}
.il1:before, .il2:before {
    width: 130px;
    height: 18px;
}
.il1:before {
    background-position: -10px -38px;
}
.il2:before {
    background-position: -10px -10px;
}
.im:before {
    width: 17px;
    height: 13px;
    background-position: -465px -103px;
}

.ih2:before {
    width: 87px;
    height: 87px;
    background-position: -241px -10px;
}
.ih3:before {
    width: 32px;
    height: 50px;
    background-position: -339px -10px;
}
.ih4:before {
    width: 56px;
    height: 1px;
    background-position: -380px -10px;
}
.isl:before {
    width: 36px;
    height: 22px;
    background-position: -384px -70px;
}
.isr:before {
    width: 36px;
    height: 22px;
    background-position: -338px -70px;
}
.isb:before {
    width: 23px;
    height: 23px;
    background-position: -430px -70px;
}
.isa:before {
    width: 23px;
    height: 23px;
    background-position: -463px -70px;
}
.is1:before, .is2:after {
    width: 48px;
    height: 35px;
}
.is1:before {
    background-position: -288px -150px;
}
.is2:after {
    background-position: -348px -150px;
}
.ir1:before {
    width: 19px;
    height: 18px;
    background-position: -492px -103px;
}

.ir3:before {
    width: 13px;
    height: 13px;
    background-position: -521px -103px;
}
.ia1:before, .ia2:before, .ia3:before {
    width: 269px;
    height: 79px;
}
.ia1:before {
    background-position: -10px -150px;
}
.ia2:before {
    background-position: -10px -239px;
}
.ia3:before {
    background-position: -10px -328px;
}
.ic1:before, .ic2:after {
    width: 20px;
    height: 22px;
}
.ic1:before {
    background-position: -496px -70px;
}
.ic2:after {
    background-position: -517px -70px;
}
.ic3:before, .ic4:after {
    width: 15px;
    height: 15px;
}
.ic3:before {
    background-position: -99px -66px;
}
.ic4:after {
    background-position: -74px -66px;
}
.iq1:before {
    width: 42px;
    height: 42px;
    background-position: -10px -89px;
}
.iq2:before {
    width: 51px;
    height: 39px;
    background-position: -123px -101px;
}
.iq3:before {
    width: 51px;
    height: 47px;
    background-position: -62px -91px;
}
.iq4:before {
    width: 51px;
    height: 39px;
    background-position: -184px -101px;
}
.iq5:before {
    width: 41px;
    height: 39px;
    background-position: -245px -101px;
}
.iv1:before {
    width: 23px;
    height: 23px;
    background-position: -398px -107px;
}
.iv2:before {
    width: 26px;
    height: 24px;
    background-position: -363px -107px;
}
.iv3:before {
    width: 24px;
    height: 26px;
    background-position: -328px -107px;
}
.iv4:before {
    width: 22px;
    height: 26px;
    background-position: -296px -107px;
}
.iv5:before {
    width: 24px;
    height: 26px;
    background-position: -431px -107px;
}
.ip1:before {
    width: 37px;
    height: 35px;
    background-position: -447px -151px;
}
.ip2:before {
    width: 31px;
    height: 32px;
    background-position: -494px -151px;
}
.ipt:before {
    width: 54px;
    height: 54px;
    background-position: -289px -195px;
}
.ipb:before {
    width: 62px;
    height: 62px;
    background-position: -353px -195px;
}
.ipl:before {
    width: 16px;
    height: 22px;
    background-position: -516px -126px;
}
.ipz:after {
    width: 39px;
    height: 37px;
    background-position: -425px -196px;
}
.ipp:before {
    width: 32px;
    height: 45px;
    background-position: -476px -196px;
}
.ipn:before {
    width: 32px;
    height: 45px;
    background-position: -508px -196px;
}

.sq1 {
    background-position: 0 -1560px;
}
.sq2 {
    background-position: 0 -1943px;
}
.sq3 {
    background-position: 0 -2326px;
}
.sq4 {
    background-position: 0 -2709px;
}
.sq5 {
    background-position: 0 -3092px;
}
.sp11 {
    background-position: 0 0;
}
.sp12 {
    background-position: -310px 0;
}
.sp13 {
    background-position: -620px 0;
}
.sp14 {
    background-position: 0 -260px;
}
.sp15 {
    background-position: -310px -260px;
}
.sp16 {
    background-position: -620px -260px;
}
.sp21 {
    background-position: 0 -520px;
}
.sp22 {
    background-position: -310px -520px;
}
.sp23 {
    background-position: -620px -520px;
}
.sp24 {
    background-position: 0 -780px;
}
.sp25 {
    background-position: -310px -780px;
}
.sp26 {
    background-position: -620px -780px;
}
.sp31 {
    background-position: 0 -1040px;
}
.sp32 {
    background-position: -310px -1040px;
}
.sp33 {
    background-position: -620px -1040px;
}
.sp34 {
    background-position: 0 -1300px;
}
.sp35 {
    background-position: -310px -1300px;
}
.sp36 {
    background-position: -620px -1300px;
}
.sr1 {
    background-position: -536px -1560px;
}
.sr2 {
    background-position: -536px -1908px;
}
.sr3 {
    background-position: -536px -2256px;
}
.sr4 {
    background-position: -536px -2604px;
}
.sr5 {
    background-position: -536px -2952px;
}

.ppd11 {
    background-position: 0 0;
}
.ppd12 {
    background-position: -480px 0;
}
.ppd13 {
    background-position: 0 -260px;
}
.ppd14 {
    background-position: -480px -260px;
}
.ppd15 {
    background-position: 0 -520px;
}
.ppd16 {
    background-position: -480px -520px;
}
.ppd21 {
    background-position: 0 -780px;
}
.ppd22 {
    background-position: -480px -780px;
}
.ppd23 {
    background-position: 0 -1040px;
}
.ppd24 {
    background-position: -480px -1040px;
}
.ppd25 {
    background-position: 0 -1300px;
}
.ppd26 {
    background-position: -480px -1300px;
}
.ppd31 {
    background-position: 0 -1560px;
}
.ppd32 {
    background-position: -480px -1560px;
}
.ppd33 {
    background-position: 0 -1820px;
}
.ppd34 {
    background-position: -480px -1820px;
}
.ppd35 {
    background-position: 0 -2080px;
}
.ppd36 {
    background-position: -480px -2080px;
}
body a {
    text-decoration: none;
}
body .block {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    background-position: center;
    overflow: hidden;
    margin-bottom: 20px;
}
body .block .container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
    width: 1100px;
    #width: 970px;
    position: relative;
}
.menu {
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: #fff;*/
    background-color: rgb(33, 33, 33);
    position: fixed;
    border-bottom: 1px solid #0062ef;
    z-index: 10;
    padding: 6px 0;
}
.stub_menu {
	height: 76px;
}
.menu .main {
    line-height: 16px;
}
.menu .main .left {
    position: relative;
}
.logo {
    padding: 21px 0px;
}
.logo h1 {
    color: #777;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    position: relative;

    font-family: sans-serif;
}
.logo h1:hover {
    color: #777;
}
.menu .main .left .logo:after {
    top: 10px;
    width: 1px;
    height: 45px;
    content: '';
    position: relative;
    display: inline-block;
    left: 17px;
}
.menu .main .left .slogan {
    top: 2px;
    font-size: 13px;
    font-weight: 500;
    color: #222;
    position: relative;
    display: inline-block;
}
.menu .main .links .text {
    padding: 5px 0;
    font-size: 12px;
    font-weight: 700;
    color: #222;
    display: block;
}
.menu .main .links .link {
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    padding: 5px 0 0.6em 0;
    font-size: 12px;
    font-weight: 700;
    color: #222;
    position: relative;
    display: block;
    cursor: pointer;
}
.menu .main .links .link:before {
    top: 7px;
    left: 33px;
    margin-right: 15px;
    position: absolute;
}
.menu .main .links .link.im2:before {
    font-size: 1.1em;
}
.menu .main .links .link:before {
    left: 1.3em;
    font-size: 1.3em;
    top: 4px;
    color: #ffa013;
}
.menu .main .links .link span {
    position: relative;
    font-size: 0.95em;
}
.menu .main .links .link span:before {
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
    bottom: -2px;
    width: 100%;
    content: '';
    position: absolute;
    border-bottom: 1px dashed #222;
}
.menu .main .links .link:hover {
    color: #ffa013;
}
.menu .main .links .link:hover span:before {
    border-bottom-color: #ffa013;
}

.menu .phone_block {
    font-family: sans-serif;
}
.menu .main .phone {
    padding-top: 5px;
    /* font-size: 20px; */
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    white-space: nowrap;
    color: #4d433f;
    display: block;
}
.menu .main  .time {
    font-size: 12.25px;
    font-weight: 300;
    color: #4d433f;
}

.menu .main  .email {
    font-size: 14px;
    font-weight: 500;
    color: #4d433f;
}
.menu .main  .email:before {
    top: 2px;
    margin-right: 5px;
}
.item_menu {
    margin: 7px 0 10px 0;
    line-height: 56px;
    display: block;
    margin: 0 auto;
}
.item_menu li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: #222;
    margin: 0 10px;
}
.home {
    height: 750px;
}
.home .main .button {
    font-size: 1.2em;
    line-height: 47px;
}
.home .main .button a {
    display: block;
    width: 100%;
    color: #fff;
}

.main .subtitle {
    float: left;
}

.home .main .right .percent, .home .main .right .subtitle {
    font-weight: 700;
    display: block;
}
.home .main .right .percent {
    font-size: 78px;
    color: #ffa013;
}
.home .main .right .percent:before {
    top: calc(50% - 5px);
    left: -30px;
}
.home .main .right .percent span:before {
    top: calc(50% - 5px);
    left: calc(100% + 5px);
}
.home .main .right .subtitle {
    top: -16px;
    margin-left: 10px;
    font-size: 26px;
    position: relative;
}

.home .bright_adv p {
    color: #fff;
}

.bright_adv .bright_adv_one {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.bright_adv .bright_adv_one i {
    font-family: "FontAwesome";
    font-size: 45px;
    color: #ffa013;
    display: block;
}

.bright_adv .bright_adv_one .caption_bright_adv {
    font-size: 28px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ffa013;
    display: inline-block;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .86)
}

/* popup */
.popup {
    position: fixed;
    background: #fff;
    width: 440px;
    min-height: 200px;
    top: 3em;
    z-index: 20;
    padding: 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    border: 10px solid #F1E8DA; /* experement color */
}
.popup .close {
    position: absolute;
    right: 1em;
    top: 0.5em;
}
.popup .close:before {
    content: "\f00d";
    font-family: "FontAwesome";
    color: #777777;
    border: 2px solid;
    border-radius: 33px;
    width: 23px;
    height: 23px;
    display: block;
    text-align: center;
    line-height: 1.2;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(000,000,000,.6);
}
/* /popup */
/* Catalog */
.popular .slider .controls {
    text-align: center;
}
.popular .slider h1 {
    font-size: 24px;
}
.popular .slider .controls .control span {
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    margin: 0 12px;
    padding: 0 56px 0 18px;
    font-size: 16px;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #b7b7b7;
    border: 1px solid #b7b7b7;
    display: inline-block;
    cursor: pointer;
}
.popular .slider .controls .control span:after, .popular .slider .controls .control span:before {
    top: 13px;
    right: 18px;
    position: absolute;
}
.popular .slider .controls .control span:after {
    -webkit-transition: visibility 0s linear .25s, opacity .25s linear;
    -moz-transition: visibility 0s linear .25s, opacity .25s linear;
    transition: visibility 0s linear .25s, opacity .25s linear;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}
.popular .slider {
    color: #222;
}
.popular .slider .controls .control.active span {
    color: #222;
    border-color: #ffa013;
}
.popular .slider .controls .control.active span:after {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    pointer-events: all;
    visibility: visible;
    opacity: 1;
}
.popular .slider .product_wrap {
    position: relative;
    width: 32.8%;
    height: 360px;
    display: inline-block;
    margin-bottom: 10px;
}

.popular .slider .card {
    margin: 2px 1px 15px 1px;
    position: relative;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    padding: 7px 7px 12px;
    position: absolute;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.popular .slider .card:hover {
    padding-right: 25%;
    z-index: 5;
}
.card .main_content {
    width: 335px;
}
.card .left_img_block {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 11px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.card:hover .left_img_block  {
    display: block;
    opacity: 1;
    visibility: visible;
    background: #fff;
}
.card .left_img_block .one_left_block {
    width: 60px;
    height: 47px;
    margin-bottom: 10px;
}
.card .left_img_block .one_left_block.active {
    border: 2px solid #4F758B;
}
.popular .slider .adv_label {
    font-size: 0.8em;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 5px 13px;
    position: absolute;
    background: #fff;
    top: 1em;
    left: 1em;
    border-radius: 6px;
    color: #555;
}
.popular .slider .adv_label_2 {
    font-size: 0.8em;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 5px 13px;
    position: absolute;
    background: #F5F3F4;
    top: 0.5em;
    left: 0.5em;
    color: #555;
}
.popular .slider .card-image {
    width: 100%;
    height: 270px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    overflow: hidden;
}
.popular .left_img_block img {
    max-width: 100%;
}
.popular .slider .card-name {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    bottom: 15px;
    font-size: 18px;
    display: inline-block;
    z-index: 1;
}
.popular .slider .card-descr, .popular .slider .card-price {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
    pointer-events: none;
}

.popular .slider .price_info div {
    margin-bottom: 2px;
}
.popular .slider .old_price {
    font-size: 0.7em;
    text-decoration: line-through;
    color: #666;
}
.popular .slider .card-price {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}
.popular .slider .card-price:before {
    top: 3px;
    right: -22px;
    position: absolute;
}
.popular .slider .card-descr {
    font-size: 0.8em;
    font-weight: 100;
    letter-spacing: .75px;
    text-transform: lowercase;
}
.popular .slider .card:after, .popular .slider .card:before {
    -webkit-transition: visibility 0s linear .25s, opacity .25s linear;
    -moz-transition: visibility 0s linear .25s, opacity .25s linear;
    transition: visibility 0s linear .25s, opacity .25s linear;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}
.popular .slider .card:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(253, 196, 33, .92);
    display: block;
}
.breadcrumb {
    margin-bottom: 10px;
}
.breadcrumb li {
    display: inline-block;
    font-size: 15px;
}
.breadcrumb li:after {
    content: "/";
}
.breadcrumb li:last-child:after {
    content: "";
}
.breadcrumb li.active {
    color: #444;
}
.breadcrumb, .breadcrumb a {
    color: #222;
}
.breadcrumb li a:hover {
    color: #ffa013;
}
.breadcrumbs p {
    display: inline-block;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}
.pagination li {
    display: inline-block;
}
.pagination li a,.pagination li span{
    display: block;
    line-height: 25px;
    margin-top: 7px;
    margin-bottom: 9px;
    padding: 6px 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.pagination li.active a, .pagination li.active:hover a{
    background: #FFA013;
    color: #fff;
}
.pagination li a:hover{
    color: inherit;
    background: #F1E8DA;
}
/* /Catalog */
/* sort */
.user_parametrs {
    margin-top: 30px;
}
.user_parametrs a{
    margin-left: 12px;
    padding-bottom: 1px;
    border-bottom: 1px dashed;
    color: #666;
}
.user_parametrs .numeric a {
    margin-left: 6px;

}
.user_parametrs a.active{
    color: #222;
}
/* /sort */
/* filter */
    .filter_wrap {
        line-height: 25px;
        margin-top: 7px;
        margin-bottom: 9px;
        padding: 6px 19px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    }
    .filter_wrap .filter_catpion {
        margin-right: 12px;
        font-weight: 600;
    }
    .filter_wrap div {
        display: inline-block;
        margin-right: 25px;
    }
    .filter_wrap .filter_block {
        position: relative;
        cursor: pointer;
    }
    .filter_wrap .filter_name:after {
        font-family: "FontAwesome";
        content: "\f0d7";
        position: relative;
        right: -0.6em;
        top: 0.08em;
        color: #4F758B;
    }
    .filter_wrap .filter_content {
        display: none;
        position: absolute;
        top: 2.2em;
        left: -20%;
        background: #fff;
        box-shadow: 0 1px 8px rgba(0,0,0,.25);
        padding: 10px 25px;
        z-index: 100;
    }
    .filter_wrap .filter_content .button_buy {
        line-height: 27px;
        font-size: 14px;
        padding: 0 18px;
        margin-top: 5px;
    }
    .filter_content .checkbox input[type="checkbox"] + label:before {
        background-position: bottom;
    }
    .filter_wrap .filter_content.filter_price_content {
        width: 232px;
    }
    .filter_wrap .filter_content.filter_price_content li {
        padding: 3px 0;
    }
    .filter_content.filter_price_content label {
        display: inline-block;
    }
    .filter_content.filter_price_content input[type=text] {
        display: inline;
        width: 80px;
        padding: 0 5px;
        margin-left: 10px;
        border-radius: 5px;
        border: 1px solid #666;
        line-height: 1.5;
    }
    .filter_content.filter_price_content .seporator {
        margin-bottom: 11px;
        padding-top: 15px;
        border-bottom: 1px solid #E3E3E3;
    }
/* /filter */
/* Advantages */
#advantages {
    text-align: center;
}
#advantages .one_adv {
    height: 200px;
    padding: 0 25px;
}
#advantages .one_adv img {
    width: 64px;
}
#advantages .caption_adv {
    font-weight: 700;
    margin: 10px 0;
    color: #555;
}
/* /Advantages */
/* calculation_cost */
#calculation_cost {

}

#calculation_cost .block_cost {
    margin-bottom: 25px;
}

#calculation_cost .block_cost .caption_cost {
    font-size: 16px;
    margin-bottom: 19px;
    font-weight: 700;
    text-align: center;
    color: #444;
}
#calculation_cost .block_cost .select_type_block_cost {
    text-align: center;
    margin-bottom: 40px;
}
#calculation_cost .block_cost .select_type_block_cost img {
    display: block;
    margin: 0 auto;
    width: 250px;
}
#calculation_cost .block_cost .select_type_block_cost label {

}

#calculation_cost .checkbox input[type="checkbox"] + label, #calculation_cost .radio input[type="radio"] + label {
    display: inline;
}


#calculation_cost .inputs_block {
    width: 320px;
    margin: 0 auto;
}
#calculation_cost .inputs_block input {
    border-radius: 30px;
    border: 1px solid #bdb9b9;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    color: #666;
}
#calculation_cost .inputs_block label {
    width: 90px;
    display: inline-block;
}
#calculation_cost .block_cost .inputs_block .caption_cost {
    text-align: left;
}

#calculation_cost .inputs_block .input_row {
    margin-bottom: 12px;
}
#calculation_cost .inputs_block_right {

}
#calculation_cost .note {
    width: 850px;
    margin: 20px auto;
}
#calculation_cost #result_price {
    font-weight: bold;
    color: #4D433F;
    font-size: 1.1em;
}
.calculation_cost_in_popup#calculation_cost .h1 {
    font-size: 22px;
}
.calculation_cost_in_popup#calculation_cost .h1 span {
    padding-bottom: 5px;
}

.calculation_cost_in_popup#calculation_cost .block_cost .select_type_block_cost img {
    width: 180px;
}
.calculation_cost_in_popup#calculation_cost .block_cost .select_type_block_cost {
    margin-bottom: 10px;
}
.calculation_cost_in_popup#calculation_cost .note {
    padding: 0 7px;
    color: #4e4e4e;
    font-size: 0.9em;
}
.calculation_cost_in_popup#calculation_cost .block_cost .caption_cost {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}
.calculation_cost_in_popup#calculation_cost .block_cost {
    margin-bottom: 15px;
}
.calculation_cost_in_popup#calculation_cost .block_cost .caption_cost {
    font-weight: normal;
    color: #444444;
    margin-bottom: 10px;
}
.calculation_cost_in_popup#calculation_cost .step {
    font-size: 18px;
    color: #808080;
    font-weight: 700;
    border: 1px solid;
    border-radius: 20px;
    /* width: 34px; */
    display: inline-block;
    width: 23px;
    margin-right: 5px;
    height: 23px;
    text-align: center;
}
.control_element {
    height: 40px;
    border: 1px solid #E3E3E3;
    display: inline-block;
}
.control_element .arrow {
    width: 40px;
    height: 100%;
    display: block;
    float: left;
    background: #F5F5F5;
    position: relative;
}
.control_element .arrow:before {
    font-family: "FontAwesome";
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.4em;
    color: #4F758B;
    top: 50%;
    margin-top: -11px;
}
.control_element .arrow#down:before {
    content: "-"; /* "\f053" */
}
.control_element .arrow#up:before {
    content: "+"; /* "\f054" */
}
#calculation_cost .inputs_block .control_element input {
    height: 100%;
    display: inline-block;
    float: left;
    border-radius: 0;
    width: 50px;
    text-align: center;
    padding: 0;
    border: 1px solid #E3E3E3;
}
/* /calculation_cost */

/* how_working */
#how_working .stage_block_captions {

}

#how_working .stage_block_captions p {
    display: inline-block;
    padding-right: 20px;
    border-bottom: 2px solid #ffa013;
    font-size: 18px;
    margin-bottom: 25px;
    padding-bottom: 3px;
}
#how_working .stage_block {
    text-align: center;
}

#how_working .one_stage {
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding: 0 20px;
}
#how_working .info_stage {

}

#how_working .caption_stage {
    color: #555;
    font-size: 20px;
    font-weight: 600;
    display: inline;
}
#how_working .circle {
    margin: 0 auto 17px auto;

}
#how_working .desc_stage {
    line-height: 1.3;
    height: 85px;
}

#how_working .term_stage {
    font-size: 16px;
}
#how_working .refinement {
    border-bottom: 1px solid #ffa013;
    display: inline-block;
    padding-bottom: 5px;
}
.circle {
    font-size: 26px;
    font-weight: 700;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #ffa013;
}
/* /how_working */

/* how_working Full */
#how_working_full {

}
#how_working_full .stage_block_captions {

}

#how_working_full .stage_block_captions p {
    display: inline-block;
    padding-right: 20px;
    border-bottom: 2px solid #E5AB44;
    font-size: 18px;
    margin-bottom: 25px;
    padding-bottom: 3px;
}

#how_working_full .one_stage {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
#how_working_full .circle {
    float: left;
}
#how_working_full .info_stage {
    float: left;
    width: 600px;
    padding-left: 40px;
}

#how_working_full .caption_stage {
    margin: 0;
    color: #555;
    font-size: 20px;
    font-weight: 600;
}

#how_working_full .desc_stage {
    line-height: 1.3;
}
/* /how_working Full*/

/* Footer */
.footer_push {padding-bottom: 200px;}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    border-top: 1px solid #F1E8DA;
    padding-top: 20px;
    background: #F5F5F5;
}
body .block#footer {
    margin-bottom: 0;
}
#footer .column_footer .caption_column_footer {
    font-size: 1.1em;
    font-weight: 600;
    height: 40px;
}
#footer .column_footer p {
    margin: 0;
    height: 30px;
}
#footer .column_footer p i {
    color: #4F758B;
    display: inline-block;
    width: 15px;
    text-align: center;
    margin-right: 5px;
}
#footer .logo {
    padding: 0;
    height: 70px;
}
/* /Footer */
.type_link {
    border-bottom: 1px dashed;
}

/* Служебное */
.response_block {
    font-size: 0.92em;
    margin-top: 10px;
}
.error {
    color: #c70000;
}
.success {
    color: #1f9e50;
}
.block-left {
    float: left;
}
.block-right {
    float: right;
}
.row2 {
    width: 16.6666667%;
    float: left;
}
.row3 {
    width: 25%;
    float: left;
}
.row5 {
    width: 41.66666667%;
    float: left;
}
.row6 {
    width: 50%;
    float: left;
}
.row7 {
    width: 58.33333333%;
    float: left;
}
.row8 {
    width: 66.6666667%;
    float: left;
}
.row9 {
    width: 75%;
    float: left;
}
.row10 {
    width: 80%;
    float: left;
}
.row12 {
    width: 100%;
    float: left;
}
.column_3 {
    width: 33.333%;
    float: left;
}
.column_4 {
    width: 25%;
    float: left;
}
.column_5 {
    width: 20%;
    float: left;
}
.column_2 {
    width: 50%;
    float: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.float-right {
    float: right;
}
.w100p {
    width: 100% !important;
}
.header {
    margin: 40px 0 20px;
}
.display-none {
    display: none;
}
.type_block {
    margin-bottom: 40px;
}
/* checkbox and radio styling */
.checkbox,
.radio {
  position: relative;
}
.checkbox input[type="checkbox"],
.radio input[type="radio"] {
    position: absolute;
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
}

.checkbox input[type="checkbox"] + label,
.radio input[type="radio"] + label {
    position: relative;
    padding-left: 25px;
    display: block;
    cursor: pointer;
}

.checkbox input[type="checkbox"] + label:before,
.radio input[type="radio"] + label:before {
    display: block;
    width: 20px;
    height: 20px;
    content: " ";
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}
.checkbox input[type="checkbox"] + label:before {
     background-image: url('../img/forms/checkbox_blue.png');
}
.checkbox input[type="checkbox"]:checked + label:before {
    background-image: url('../img/forms/checkbox_blue_checked.png');
}
.radio input[type="radio"] + label:before {
    background-image: url('../img/forms/radio_blue.png');
}

.radio input[type="radio"]:checked + label:before {
    background-image: url('../img/forms/radio_blue_checked.png');
}

/* /checkbox and radio styling */


/* product card */
.detail_card_content {
    margin-top: 15px;
}
.detail_card_content img {
    max-width: auto;
    /*width: 100%;*/
}
.detail_card_content .img_wrap img {
    border: 1px solid #BDB9B9;
}
.img_wrap {
    margin-bottom: 15px;
}
.add_img_wrap a {
    display: inline-block;
    overflow: hidden;
    width: 105px;
    margin-right: 15px;
    border: 1px solid #BDB9B9;
    height: 77px;
    border-radius: 7px;
}
.add_img_wrap a img {
    width: 100%;
    height: 78px;
}
.add_img_second_wrap a {
    display: inline-block;
    overflow: hidden;
/*    width: 300px;*/
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #BDB9B9;
    height: 170px;
    border-radius: 7px;
}
.add_img_second_wrap a img {
    /*width: 100%;*/
    height: 171px;
}
.properties_and_advantages {
    padding-left: 45px;
}
.detail_caption {
    font-size: 1.2em;
    margin-bottom: 4px;
}
.desc_block {
    margin-top: 25px;
}
.desc_product {
    width: 890px;
    margin-top: 10px;
}
.propety_list {
    line-height: 1.7;
    padding-left: 10px;
    padding-bottom: 8px;
    margin-bottom: 15px;
    border-bottom: 1px solid #4F758B;
}
.propety_list li span {
    color: #777;
}
.checklist li {
    padding-left: 20px;
    position: relative;
}
.checklist li:before {
    font-family: "FontAwesome";
    content: "\f00c";
    position: absolute;
    top: -1px;
    left: 0;
    color: #4F758B;
}
.price_label {
    margin-bottom: 10px;
}
.button_buy {
    width: 180px;
    text-align: center;
}
.price {
    font-weight: 600;
}
.our_clients {
    margin-bottom: 17px;
}
.our_clients a {
    border-bottom: 1px dashed;
}
/* /product card */


/* FAQ page */
.question {
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-bottom: 1px dashed #ccc;
    position: relative;
    padding-bottom: 6px;
}
.question:before {
    font-family: "FontAwesome";
    content: "\f107";
    position: absolute;
    right: 1em;
    color: #4F758B;
}
.ask {
    padding-left: 20px;
    display: none;
    margin-bottom: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.desc_faq {
    margin-bottom: 20px;
}
.page_faq textarea {
    width: 428px;
    height: 108px;
}
.page_faq #calculation_cost .inputs_block {
    width: 350px;
    margin: 0 auto;
}
.page_faq #calculation_cost .inputs_block input {
    width: 70%;
}
.page_faq .title.on-top span {
    font-size: 24px;
}
/* /FAQ */

/* about page */

.desc_about p {
    line-height: 1.6;
    margin-bottom: 10px;
}
.desc_about .img_about {
    width: 90%;
    float: right;

}
.wrap_reviews .block_review {
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    padding: 15px;
    width: 97%;
    margin: 0 auto;
}
.wrap_reviews .top_review p {
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 6px;
    font-size: 17px;
    padding-bottom: 3px;
}
.wrap_reviews .top_review .photo_review {
    width: 90px;
    float: right;
    border-radius: 18px;
}
.wrap_reviews .desc_review {
    margin: 20px 0px;
    height: 220px;
    overflow: hidden;
}
.bottom_review p {
    font-size: 20px;
    margin-bottom: 10px;
}
/* /about page */

/* contact page */
.contact_info .caption {
    font-weight: 600;
    margin-bottom: 2px;
    font-size: 15px;
}
.contact_info p {
    margin-bottom: 15px;
}
#salon_info img {
    width: 85%;
    margin-bottom: 20px;
}
.salon_images {
    margin-top: 20px;
}
#salon_info .schedule {
    margin: 12px 0;
    border-bottom: 1px dashed;
    display: inline-block;
}
#salon_info .schedule i {
    color: #4F758B;
}
/* /contact page */
.type_form {
    width: 430px;
}
.type_form .block_cost {
    width: 430px;
}
.type_form .input_row {
    margin-bottom: 20px;
}
.type_form .note {
    text-align: center;
}

.type_form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}
.type_form label span {
    font-size: 0.8em;
}
.type_form input[type=text] {
    height: 30px;
    width: 430px;
    border-radius: 11px;
    border: 1px solid #ccc;
    padding-left: 20px;
}
.type_form textarea {
    width: 430px;
    height: 108px;
    border: 1px solid #ccc;
}
.callback_form.type_form {
    margin: 0 auto;
    width: 330px;
}
.callback_form.type_form input[type=text] {
    width: 100%;
}
@media screen and (max-width: 1100px) {
    body {
        width: 1100px;
        margin: 0 auto !important;
    }
    .menu {
        position: static;
    }
    .stub_menu {
        height: 0;
    }
}

/*кнопка звонка*/

.callback-bt {
        background:#ffb850;
        border:2px solid #ffb850;
        border-radius:50%;
        box-shadow:0 8px 10px rgba(56,163,253,0.3);
        cursor:pointer;
        height:68px;
        text-align:center;
        width:68px;
        position: fixed;
        right: 8%;
        bottom: 18%;
        z-index:999;
        transition:.3s;
        -webkit-animation:hoverWave linear 1s infinite;
        animation:hoverWave linear 1s infinite;
}

.callback-bt .text-call{
        height:68px;
        width:68px;
        border-radius:50%;
        position:relative;
        overflow:hidden;
}

.callback-bt .text-call span {
    text-align: center;
    color:#ffb850;
    opacity: 0;
    font-size: 0;
        position:absolute;
        right: 4px;
        top: 22px;
    line-height: 14px;
        font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
    opacity: 1;
        font-size: 11px;
}
.callback-bt:hover i {
    display:none;
}

.callback-bt:hover {
        z-index:1;
        background:#fff;
        color:rgb(49, 130, 196);
        transition:.3s;
}
.callback-bt:hover i {
        color:#ffb850;
        font-size:40px;
        transition:.3s;
}
.callback-bt i {
        color:#fff;
        font-size:34px;
        transition:.3s;
        line-height: 66px;transition: .5s ease-in-out;
}

.callback-bt i  {
    animation: 1200ms ease 0s normal none 1 running shake;
        animation-iteration-count: infinite;
        -webkit-animation: 1200ms ease 0s normal none 1 running shake;
        -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
        0% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}@keyframes hoverWave {
        0% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}

/* animations icon */

@keyframes shake {
0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
}

@-webkit-keyframes shake {
0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
}
/* конец кнопки звонка */
